<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings> <!-- DB필드에 NULL값을 넣을때 사용, 안그럼 "부적절한 열 유형 1111" 오류가 많이 발생한다. -->
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

	<typeAliases>
		<typeAlias type="com.lol.vo.MemberVO" alias="member"/>
		<typeAlias type="com.lol.vo.BoardVO" alias="board"/>
		<typeAlias type="com.lol.vo.PageVO" alias="page"/>
	</typeAliases>
	
</configuration>