body {
	width: 1200px;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f5f5f5;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #aaa;
  display: grid;
  
}
img {
	border-radius: 20%;
}

/*헤더*/
header{
	text-decoration: none;
}
header .login{
	font-size:18px;
	text-align: right;
}
header .login:hover{
	color:orange;
	cursor: pointer;
}

nav { /*가운데정렬 3종세트*/
  display: flex;
  justify-content: center;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0px 5px;
}

nav a {
  display: flex;
  height: 20px;
  padding: 10px;	/*글자 사이 간격*/
  font-size: 22px;
  font-weight: bold;
  text-decoration: none; /*하이퍼링크 밑줄 제거*/
  color: #1c2b37;
  text-align: center;
}

.menuTop a:hover {
	color:orange;
}

.login_Link{
	text-decoration: none;
	padding: 10px;
	color: #1c2b37;
}

.login_Link:hover{
	color:lightblue;
}


.container {
	display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-areas:
       "header main"
       "sidebar sidebar";
       grid-template-rows: auto 1fr;
}


.search-box {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  
}

.search-box form {
  width: 500px; /* 네모 칸의 너비 */
  padding: 15px; /* 내부 여백 */
  border: 1px solid #ccc; /* 테두리 스타일 및 색상 */
  border-radius: 5px; /* 테두리 둥글게 */
  display: flex; /* 요소들을 가로로 배열 */
  flex-direction: row; /* 세로로 정렬 */
  align-items: center;
}

/* 스타일링을 추가로 원하는 경우 여기에 추가 */
.search-box label {
  padding-right: 10px;
}

.search-box input {
  padding: 8px; /* 내부 여백 */
  box-sizing: border-box; /* 너비와 높이에 padding 및 border 포함 */
}

.search-box #id {
  width: 400px;
  text-align: center;
}


.search-button {
  width: 32px; /* 이미지의 너비 */
  height: 32px; /* 이미지의 높이 */
  border: none; /* 테두리 제거 */
  cursor: pointer; /* 포인터 모양으로 변경 */
}

form {
	text-align: center;
	margin: 20px 0;
}

/*
.head-content {
	display: flex;
  padding: 10px;
}*/


  /* 링크의 글자색 제거 */
  a.button-link {
	  text-decoration: none;
	  font-size: 22px;
    color: rgb(69, 64, 64);
    font-weight: bolder;
    padding-left: 20px;
    vertical-align: middle;
    line-height: 2;
  }

.user_container {
        display: flex;
        grid-area: header;
        text-align: center;
        background-color: #fff; /* 배경 색상 설정 */
        padding: 20px; /* 내부 여백 설정 */
        border-radius: 10px; /* 테두리 반경 설정 */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        height: auto;
    }

    .user_container > div {
        margin-right: 20px; /* 각 div 간 간격을 조절할 수 있습니다. */
    }

    .user_container  img {
        
        margin-right: 10px;
        width: 100px;
        height: 100px;
    }

    .user_container  p {
        margin: 0;
        font-weight: bold;
        font-size: 40px;
    }

label {
	font-weight: bold;
}

input[type="text"] {
	width: 200px;
	padding: 5px;
	font-size: 14px;
}

input[type="submit"] {
	padding: 5px 10px;
	font-size: 14px;
	background-color: #007BFF;
	color: white;
	border: none;
	cursor: pointer;
}

hr {
	margin: 20px 0;
}

.game-header {
	color: black;
	padding: 10px;
	margin-bottom: 5px;
}

.game-details {
	background-color: #F5F5F5;
	padding: 10px;
	border: 1px solid #E0E0E0;
	margin-bottom: 10px;
}


.game-details table {
	border-collapse: collapse;
  width: 100%;
}

.game-details th, td {
      border: 1px solid black;
      padding: 4px;
      text-align: center;
      width: auto;
    }
#bar-item-image {
	width: 25px;
	height: 25px;
}

#record-champ-image {
	width: 50px;
	height: 50px;
}

#record-item-image {
  width: 50px;
  height: 50px;
}

.win {
	background-color: #28A745;
	color: white;
	padding: 3px 5px;
	border-radius: 3px;
}

.loss {
	background-color: #DC3545;
	color: white;
	padding: 3px 5px;
	border-radius: 3px;
}

#winback {
  background-color: #B3CDFF;
}

#lossback {
  background-color: #FFD8D9;
}


.rank_container {
  display: flex;
  fles-direction: row;
  text-align: center;
  background-color: #fff; /* 배경 색상 설정 */
  padding: 20px; /* 내부 여백 설정 */
  border-radius: 10px; /* 테두리 반경 설정 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  grid-area: main;
  height: auto;
  
}

.record_container {
	text-align: center;
  background-color: #fff; /* 배경 색상 설정 */
  padding: 20px; /* 내부 여백 설정 */
  border-radius: 10px; /* 테두리 반경 설정 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  grid-area: sidebar;
}

.rankImages img {
	width: 200px;
	height: 200px;
}

.rank_div {
	margin: 20px;
	margin-left: 40px;
}
